<section class="vbox animated fadeInRight" ng-controller="FriendsListController">
  <section class="w-f-md scrollable hover">
    
    <div id="youtubePlayer"></div>
    <!--
    <section class=""  >
      <h4 class="font-thin m-l-md m-t">Friends</h4>
      <ul class="list-group- no-bg no-borders auto m-t-n-xxs">
        <li ng-repeat="friend in friends.friends" class="list-group-item"><span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm"> <img src="https://graph.facebook.com/{{friend.id}}/picture" alt="..." class="img-circle" ></span>
        <div class="clear"></div>
        <div><a href="#">{{friend.name}}</a></div>
        <small class="text-muted">XXX videos</small>
        
      </li>
    </ul>
  </section>
  -->
</section>
<!--
<footer class="footer footer-md bg-black">
  
  <form class="" role="search">
    <div class="form-group clearfix m-b-none">
      <div class="input-group m-t m-b"> <span class="input-group-btn">
        <button type="submit" class="btn btn-sm bg-empty text-muted btn-icon"><i class="fa fa-search"></i></button>
      </span>
      <input type="text" class="form-control input-sm text-white bg-empty b-b b-dark no-border" placeholder="Search members">
    </div>
  </div>
</form>

</footer>
-->
</section>