<form role="form" class="form-horizontal" novalidate angular-validator angular-validator-submit="ok(addDealForm)" name="addDealForm">
    <div class="modal-header">
        <h3 ng-cloak>{{::translation.ADD_NEW_LEAD}}</h3>
    </div>
    <div class="modal-body clearfix">
        <div class="carousel slide panel-body" id="c-slide">
            <div class="form-group relative">
                <label ng-cloak>{{::translation.TITLE}}</label>
                <input ng-cloak type="text" name="deal_title" class="form-control" ng-model="title" required validate-on="dirty" required-message = "'{{::translation.REQUIRED}}'">
            </div>
            <div class="form-group relative">
                <label ng-cloak>{{::translation.VALUE}}</label>
                <input ng-cloak type="text" name="deal_value" class="form-control" ng-model="value" validate-on="dirty">
                <smal class="text-danger" ng-if="!validateValue(value) && addDealForm.deal_value.$dirty && value">{{::translation.VALIDATE_VALUE}}</smal>
            </div>
            <div class="form-group relative">
                <button ng-cloak type="button" class="btn btn-default" ng-repeat="currency in currencies" ng-model="selectedCurrency.id" btn-radio="{{currency.id}}">{{currency.name}}</button>
            </div>
            <div class="form-group relative">
                <label ng-cloak>{{::translation.ORGANISATION}}</label>
                <input ng-cloak type="text" name="deal_organisation"
                       ng-model="selectedOrganisation.name"
                       class="form-control" validate-on="dirty"  required-message = "'{{::translation.REQUIRED}}'"
                       typeahead="organisation as organisation.name for organisation in organisations | filter:$viewValue"
                       ng-change="getOrganisations()" autocomplete="off">
                <small ng-cloak class="text-info"
                       ng-show="addDealForm.deal_organisation.$dirty && organisations.length == 0 && !selectedOrganisation.name.id">{{::translation.NO_SUCH_ORGANISATION}}</small>
            </div>
            <div class="form-group relative">
                <label ng-cloak>{{::translation.CONTACT_PERSON}}</label>
                <input ng-cloak type="text"
                       name="deal_contact"
                       ng-model="selectedContact.name"
                       class="form-control"
                       validate-on="dirty"
                       autocomplete="off"
                       required-message = "'{{::translation.REQUIRED}}'"
                       ng-change="getContacts()"
                       typeahead="contact as contact.name + ' ' + contact.email + '' for contact in contacts | filter:$viewValue" typeahead-on-select="getOrganisations($item)">
                <small ng-cloak class="text-info"
                       ng-show="addDealForm.deal_contact.$dirty && contacts.length == 0 && !selectedContact.name.id">{{::translation.NO_SUCH_CONTACT}}</small>
            </div>
            <div class="form-group relative">
                <label ng-cloak>{{::translation.OWNER}}</label>
                <select ng-cloak name="deal_owner" ng-model="selectedOwner" class="form-control" required validate-on="dirty" required-message = "'{{::translation.REQUIRED}}'" ng-options="user.name for user in users">
                </select>
            </div>
            <div class="btn-group form-group">
                <button type="button" class="btn btn-default" ng-repeat="stage in stages" ng-model="selectedStage.id" btn-radio="{{stage.id}}" ng-cloak>{{stage.title}}</button>
            </div>
            <div class="btn-group form-group block">
                <button type="button" class="btn btn-default" ng-model="selectedStatus.id" btn-radio="0" ng-cloak>{{::translation.OPEN}}</button>
                <button type="button" class="btn btn-default" ng-model="selectedStatus.id" btn-radio="1" ng-cloak>{{::translation.WON}}</button>
                <button type="button" class="btn btn-default" ng-model="selectedStatus.id" btn-radio="2" ng-cloak>{{::translation.LOST}}</button>
                <button type="button" class="btn btn-default" ng-model="selectedStatus.id" btn-radio="3" ng-cloak>{{::translation.CANCELLED}}</button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="cancel()" ng-cloak>{{::translation.CANCEL}}</button>
        <button class="btn btn-success" type="submit" ng-cloak>{{::translation.SAVE}}</button>
    </div>
</form>