<form role="form" class="form-horizontal"  novalidate angular-validator angular-validator-submit="ok()" name="editContactForm"
     >
    <div class="modal-header" >
        <h3 ng-cloak ng-hide="confirmDeleteContact">{{contact.name}}</h3>
        <h3 ng-show="confirmDeleteContact">{{::translation.DELETE}} {{contact.name}}</h3>
    </div>
    <div class="modal-body clearfix">
        <div class="carousel slide panel-body" id="c-slide">
            <div class="form-group relative" ng-hide="confirmDeleteContact">
                <label ng-cloak>{{::translation.NAME}}</label>
                <input ng-cloak type="text" name="name" autocomplete="off" class="form-control" ng-model="contact.name" required validate-on="dirty" required-message = "'{{::translation.REQUIRED}}'">
            </div>
            <div class="form-group relative" ng-hide="confirmDeleteContact">
                <label ng-cloak>{{::translation.EMAIL}}</label>
                <input ng-cloak type="text" name="email" autocomplete="off" class="form-control" ng-model="contact.email" validate-on="dirty" required-message = "'{{::translation.REQUIRED}}'">
                <small class="text-danger" ng-if="!validateEmail(contact.email) && editContactForm.email.$dirty && contact.email">{{::translation.INVALID_EMAIL_ADDRESS}}</small>
            </div>
            <div class="form-group relative" ng-hide="confirmDeleteContact">
                <label ng-cloak>{{::translation.PHONE}}</label>
                <input ng-cloak type="text" name="phone" autocomplete="off" class="form-control" ng-model="contact.phone" validate-on="dirty" required-message = "'{{::translation.REQUIRED}}'">
                <small class="text-danger" ng-if="!validatePhone(contact.phone) && editContactForm.phone.$dirty && contact.phone">{{::translation.INVALID_PHONE}}</small>
            </div>
            <div class="form-group relative" ng-hide="confirmDeleteContact">
                <label ng-cloak>{{::translation.ORGANISATION}}</label>
                <input ng-cloak type="text" name="deal_organisation" ng-model="selectedOrganisation.name"
                       class="form-control" validate-on="dirty"  required-message = "'{{::translation.REQUIRED}}'"
                       typeahead="organisation as organisation.name for organisation in organisations | filter:$viewValue"
                       typeahead-on-select="getOrganisations($item)" ng-change="getOrganisations()" autocomplete="off">
                <small ng-cloak class="text-info" ng-if="addDealForm.deal_organisation.$dirty"
                ng-show="!selectedOrganisation.id && selectedOrganisation.name !=''">{{::translation.NO_SUCH_ORGANISATION}}</small>
            </div>
             <div ng-show="confirmDeleteContact" class="btn-group form-group block" style="padding-top: 0px;margin-top: 8px;padding-bottom: 0px;margin-bottom: 0px; vertical-align: middle;">{{::translation.ARE_YOU_SURE}}</div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="/leads?contactId={{contact.id}}" class="pull-left" ng-click="redirectToCotactDeals()">{{::translation.SHOW_LEADS_FOR_CONTACT}}</a>
        <div ng-cloak ng-show="confirmDeleteContact" class="btn btn-s-md btn-danger" ng-click="deleteContact(false)">{{::translation.CANCEL}}</div>
        <button ng-cloak ng-show="confirmDeleteContact" class="btn btn-s-md btn btn-success" ng-click="deleteContact(true)">{{::translation.YES_DELETE}}</button>
        <div ng-cloak class="btn btn-s-md btn btn-danger" ng-hide="confirmDeleteContact" ng-click="askForContactDelete()"  ng-hide="confirmDeleteContact">{{::translation.DELETE}}</div>
        <button ng-cloak type="button" class="btn btn-warning" ng-click="cancel()"  ng-hide="confirmDeleteContact">{{::translation.CANCEL}}</button>
        <button ng-cloak class="btn btn-success" type="submit"  ng-hide="confirmDeleteContact">{{::translation.SAVE}}</button>
    </div>
</form>