<div class="forms-image-background">
  <div class="forms-shadowed-background">
    <div class="container container-with-padding">
      <div class="row">
        <div class="redirect-to-register-msg">
          <h3><a href="/login" class="new-text"><span class="sign-up-text">Back</span></a></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 form-container animated fadeInDown">
          <div class="row">
            <h3 class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">Change password</h3>
          </div>
          <form class="row">
            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 inputs-container">
              <input type="password" name="changePassword" id="changePassword" class="{{errors.password == true ? 'input-with-errors': ''}}"
                     ng-click="animateInputs('changePasswordLabel', 'changePassword')"
                     ng-blur="resetInputs('changePasswordLabel', 'changePassword')"
                     ng-focus="animateInputs('changePasswordLabel', 'changePassword')"
                     ng-model="password"
                     ng-change="errors.password = false"
                     focus="true">
              <label for="changePassword" id="changePasswordLabel">Password</label>
              <span class="input-error-message" ng-if="errors.password == true">{{errorsText.password}}</span>
            </div>
            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 inputs-container">
              <button class="btn" ng-click="resetPassword()">Set new password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>